[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "~=23.11"
coverage = "~=7.4"
isort = "~=5.9"
mypy = "~=1.8"
pydocstyle = "~=6.3"
pylint = "~=2.16"
rope = "~=1.7"
passwordgen = {editable = true, path = "."}

[requires]
python_version = "3.11"
