[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = ">=22.6.0,<22.7"
flake8 = ">=6.0.0,<6.1"
ipykernel = ">=6.15.1,<6.16"
isort = ">=5.9.3,<5.10"
mypy = ">=0.981,<1.0"
pydocstyle = ">=6.3.0,<6.4"
rope = ">=1.7.0,<1.8"
passwordgen = {editable = true, path = "."}

[requires]
python_version = "3.10"
