[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
pylint = "*"
pydocstyle = "*"
coverage = "*"
build = "*"

[requires]
python_version = "3.14"
